* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
    height: 160px;
}

:root {
    --primary-color: #ff470b;
    --secondary-color: #ff6600;
    --product-color: #ff0b1a;
    --btn-color: #ff280b;
    --bg-color: rgba(255, 255, 255, 0.2);
    --text-color: #ffffff;
    --text-color2: #000000;
    --bg2-color: black;
    --bg3-color: white;
    --coin-color: #ffd233;
    --money-color: #28a745;
    --coinRulebg: #ff0000;
    --fileicon-color: #ffffff;
    --cancelbtn-textcolor: #ff0000;
    --cancelbtn-color: #ffffff;
    --submitbtn-color: #ff0000;
    --submitbtn-textcolor: #ffffff;
}

body {
    background-color: #000000;
}

/*Start Header*/

.headers {
    /* min-height: 100vh; */
    /* background-image: url("/img/Home.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

marquee {
    background-color: #000000;
    font-size: 1rem;
    font-weight: bold;
}

.importantnews {
    border-radius: 20px;
}

.coinCalInform {
    color: var(--coin-color);
}

/*start navbar*/

.navbar {
    align-items: flex-start !important;
    flex-direction: column !important;
}

.navbar-collapse {
    width: 100% !important;
}

.navs {
    background-color: var(--bg-color);
    font-size: 1.3rem;
}

.nav-buttons {
    background-color: var(--primary-color);
}

.line1,
.line2,
.line3 {
    width: 20px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s;
}

.changes .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.changes .line2 {
    opacity: 0;
}

.changes .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.actives {
    border-bottom: 1px solid var(--primary-color);
}

.comapanynames {
    color: var(--text-color);
}

.profiles {
    font-size: 1.3rem;
}

.navs i {
    cursor: pointer;
}

#profileButton,
#cartButton,
.companys {
    display: block;
}

#cartButton {
    position: relative;
}

.cartout {
    left: 145% !important;
    top: -25% !important;
}

.count {
    display: block;
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    border-radius: 50%;
    position: absolute;
    bottom: 70%;
    left: 90%;
    text-align: center;
    line-height: 25px;
}
.imageNews {
    width: 25%;
}
@media (max-width: 1000px) {
    #profileButton,
    #cartButton,
    .companys {
        display: none;
    }
    #informAlert {
        width: 91.5%;
        /* margin-top: 45vh;
        /* margin-left: auto; */
        /* margin-left: 3%; */
        /*margin-right: 30vw; */
        left: 16vw;
    }
    .imageNews {
        width: 11%;
    }
    .forNews,
    .forMessages,
    .forTracks {
        height: fit-content;
        /* width: 80%; */
        background-color: #333333;
        margin: auto;
        gap: 2.5vh;
        border-radius: 1.4vh;
    }
    .news,
    .messages,
    .tracks {
        height: fit-content;
        border-radius: 1vh;
    }
    .topNotch {
        display: none;
    }
    .informAlertDesign {
        padding: auto;
    }
    .alertButton {
        background-color: rgb(167, 175, 166);
        text-align: center;
        color: white;
    }
    .headerInform {
        gap: 18vw !important;
    }
    .informText {
        max-width: 20vw;
    }
}

/*end navbar*/

/*
    * Create:zayar(2022/01/17)
    * Update:
    */

/*start Profile Alert box*/

#profileAlert {
    position: absolute;
    z-index: 999;
    min-width: 30%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.952);
    top: 100%;
    right: 5%;
    border-radius: 2vw;
    display: none;
}

.profileAlertBody {
    height: fit-content;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.952);
}

.profileAlertHeader {
    color: var(--primary-color);
}

.userProfile {
    margin-left: 17vh;
    margin-right: 17vh;
    font-weight: bold;
    font-size: 1.5rem;
}

.userProfileDiv {
    width: 10vh;
}

.profileAlertBody {
    width: 100%;
    height: 50vh;
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.editProfile {
    background-color: var(--text-color);
    color: var(--secondary-color);
}

.updatePassword {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.profileAlertfooter {
    height: auto;
    border-radius: 0 0 2vw 2vw;
    background-color: rgba(0, 0, 0, 0.952);
}
.informAlertDesign {
    background-color: var(--primary-color);
    color: white !important;
    border-radius: 0.7vw;
    /* padding: 0.5em 0.5em; */
    padding-left: 0.4em !important;
    padding-right: 0.4em !important;
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
    text-align: center;
    height: auto;
    /* transition:  0.3s 0s ease-out; */
}
.alertIndicatorForInform {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff1b1b;
    position: absolute;
    margin-right: auto;
    right: -6px;
    top: 8px;
    /* left: 50px;
    top: 13px; */
}
#back {
    cursor: pointer;
}

#back:hover {
    color: var(--primary-color) !important;
}

#logout {
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    #profileAlert {
        position: absolute;
        width: 80%;
        margin: auto;
        margin-right: 5%;
    }
    .userProfile {
        margin-left: 0;
        margin-right: 0;
        font-size: 1.2rem !important;
        width: 60vw !important;
    }
    .editProfile {
        font-size: 0.8rem !important;
    }
    .updatePassword {
        font-size: 0.8rem !important;
    }
    /* .userProfile {
        font-size: 1.2rem !important;
        width: 60vw !important;
    }
    #profileAlert {
        width: 65vw;
        margin-left: 20vw;
    }
    #profileAlert {
        left: 2vw !important;
    }
    .profileAlertBody {
        font-size: 1rem !important;
    }
    .userProfile {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .profileAlertHeader {
        margin-right: 10vw;
    } */
}

/*end profile alert */

/*
    * Create:zayar(2022/01/22)
    * Update:
    */

/*start inform Alert box*/

.informAlert {
    position: absolute;
    z-index: 999;
    /* width: 54.5vh; */
    width: 30vw;
    /* height: fit-content; */

    background-color: #333333;
    /* margin-left: 52.1vw; */
    margin-top: 4vh;
    margin-left: -11.5vw;
    border-radius: 1.4vh;
    display: none;
}

#informButton {
    cursor: pointer;
    border-radius: 1vw;
}

.btnCart {
    border-style: solid;
    background: var(--btn-color);
    color: var(--text-color);
    border-color: transparent;
}

.informText {
    max-width: 8vw;
}

.btnShopping {
    border-style: solid;
    background-color: transparent;
    border-color: var(--btn-color);
}

.hiddenAlert {
    display: none;
}

#backInform {
    width: 5vw;
    height: 5vh;
    margin-left: 1vw;
    color: var(--primary-color);
    cursor: pointer;
}
.topNotch {
    background-color: #5e5a5a;
    width: 3vh;
    height: 3vh;
    position: absolute;
    top: -18%;
    border-radius: 0.3vw;
    transform: rotate(45deg);
}
.headerInform {
    background-color: #5e5a5a;
    margin-bottom: 2vh;
    height: fit-content;
    border-radius: 0.4vw;
    position: relative;
    gap: 4vw;
}
.fontSizeForInform {
    font-size: 0.95rem;
}
.fontSizeForMessage {
    font-size: 0.85rem;
}
.infromTitle {
    cursor: pointer;
    margin-top: 2vh;
    font-size: 0.95rem;
    z-index: 99 !important;
    color: whitesmoke;
    position: relative;
}

.alertButton {
    background-color: rgb(167, 175, 166);
    text-align: center;
    width: 7vw;
    margin-left: auto;
    color: white;
}

.green {
    background-color: #198754;
}
.waiting {
    background-color: #ffc107;
}
.yellow {
    background-color: #0d6efd;
}

.red {
    background-color: red;
}

.gray {
    background-color: #6c757d;
}
/* .pagination .page-link {
    background: var(--primary-color);
    color: white;
}
.pagination.active .page-link {
    background: rgb(211, 14, 14);
    color: white;
} */
.page-item.active .page-link,
.page-item.disabled .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(255, 94, 0);
    border-color: rgb(12, 11, 11);
}
.pagination > li > a,
.pagination > li > span {
    z-index: 3;
    color: #ffffff;
    background-color: var(--primary-color);
    border-color: rgb(46, 42, 42);
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: #c9dff1;
    background-color: rgb(243, 131, 66);
    border-color: #ddd;
}
.newsLine {
    width: 0.5vw;
    height: 60%;
    background-color: #db0202;
    position: absolute;
    right: 0px;
    gap: 0px;
    font-size: small;
    border-radius: 3.5px 0px 0px 3.5px;
}
.titleStatus {
    text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000,
        -1px -1px 1px #000;
    letter-spacing: 1px;
}
.visible {
    display: block !important;
}

.btnlogout {
    background-color: var(--primary-color);
    color: wheat;
}

.forNews,
.forMessages,
.forTracks {
    height: fit-content;
    background-color: #333333;
    margin: auto;
    /* gap: 2.5vh; */
    border-radius: 1.4vh;
}

.fc {
    height: fit-content;
}

#forNews {
    display: none !important;
}

#forMessages {
    display: none !important;
}

#forTracks {
    display: none !important;
}

.news,
.messages,
.tracks {
    position: relative;
    width: 100%;
    /* height: 15vh; */
    margin: auto;
    cursor: pointer;
    color: rgb(218, 218, 221);
    border-bottom: 1px solid #000000;
}
.showAllNewsText {
    color: #e4d5d5;
    font-size: small;
    margin-bottom: 2vh;
    width: fit-content;
    margin-left: auto;
    margin-right: 2vw;
}
.showAllNewsText:hover {
    color: #e4d5d5bd;
}
/* .tracks {
    height: 18vh !important;
} */

.nocursor {
    cursor: auto !important;
}

.newsLogo {
    position: absolute;
    /* width: 13%; */
    /* margin-bottom: 13vh; */
    /* margin-left: 100% !important; */
    top: -1vh;
    /* margin-bottom: 20% !important; */
}

.gleft {
    margin-left: 98% !important;
}

.aleft {
    margin-left: 100% !important;
    /* margin-bottom: 40% !important; */
}

.news img {
    max-width: 22%;
    /* margin-right: auto; */
    /* margin-left: 1vw; */
}

.tracks img {
    max-width: 22%;
    margin-right: 1vw;
}

.newsColumnDiv {
    margin-right: 10vw;
}

@media (max-width: 720px) {
    .nomelimited {
        margin-right: 0vw !important;
    }
    .newsLogo {
        margin-left: 2vh;
    }
    /* #informAlert {
        width: 93%;
        margin-top: 140%;
        margin-left: auto;
    }
    .forNews,
    .forMessages,
    .forTracks {
        height: fit-content;
        width: 100%;
        background-color: rgb(255, 255, 255);
        margin: auto;
        gap: 2.5vh;
        border-radius: 1.4vh;
    }
    .news,
    .messages,
    .tracks {
        width: 90%;
        height: fit-content;
        border-radius: 1vh;
        background-color: rgb(189, 173, 158);
    }
    .alertButton {
        background-color: rgb(167, 175, 166);
        text-align: center;
        width: 17vw;
        text-align: center;
        margin-left: auto;
        color: white;
    }
    .headerInform {
        gap: 4vw;
    }
    .informText {
        max-width: 20vw;
    } */
    /* .gleft {
        margin-left: 0 !important;
    }
    .aleft {
        margin-left: 0 !important;
    } */
}

.texts {
    color: var(--text-color);
    cursor: pointer;
}

p.texts {
    margin-bottom: 0;
}

.texts:hover {
    color: var(--text-color);
}

.actives {
    background: var(--primary-color);
    color: white;
    border-radius: 1vw;
}

.comapanynames {
    color: var(--text-color);
}

/*end navbar*/

/*start carousel*/

.carousels {
    min-height: 100%;
}

.items {
    min-height: 70vh;
}

.abouts {
    background-color: red;
}

.menuphotos {
    background-color: blue;
}

/* .tastes {
    margin-left: 15%;
    margin-bottom: 10%;
    color: var(--text-color);
} */

/* .delivery-btns {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: 2px groove transparent;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 45%;
    margin-top: 20px;
} */

.delivery-btns:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
    border: 2px groove var(--primary-color);
}

.carousel-photos {
    width: 100%;
}

/*end carousel*/

@media (max-width: 720px) {
    .companys {
        display: none;
    }
    .menus {
        max-width: 100px;
    }
}

/*End Header*/

/*End Header*/

/*End Header*/

/*End Header*/

/*End Header*/

.dropdown-toggle:empty::after {
    margin-left: 10px;
}
