* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #FF470B;
    --secondary-color: #ff6600;
    --bg-color: rgba(255, 255, 255, 0.2);
    --text-color: #FFFFFF;
    --bg2-color: black;
    --coin-color: #FFD233;
}


/*Start Header*/

body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/img/checkout.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo {
    margin-top: 1em;
    margin-left: 45%;
}

.comapanynames {
    color: var(--text-color);
    font-size: x-large;
    padding-top: 1em;
}

.heading {
    color: var(--primary-color);
    font-size: xx-large;
}

.arrows {
    font-size: 2rem;
}

.formDisplay {
    min-width: 60% !important;
    border: 0.2em solid var(--text-color);
    border-radius: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(22, 21, 21, 0.8))
}

.forms {
    width: 100%;
}

.labels {
    width: 40%;
}

.inputs {
    width: 60%;
}

.controlForm {
    width: 90%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    resize: none;
}

#details {
    font-size: x-large;
    color: var(--primary-color);
}

input[type='radio'],
.cursor {
    cursor: pointer;
}

.amount {
    width: 30%;
    background-color: #FFFFFF;
}

.hide {
    display: none;
}

.moneys {
    font-size: 1.1rem;
    color: var(--primary-color);
    padding: 10px 0;
    margin-bottom: 0 !important;
}

.cancels {
    background-color: var(--text-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: large;
    border: 2px groove transparent;
    padding: 10px 20px;
    border-radius: 0.3em;
}

.order {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    font-size: large;
    border: 2px groove transparent;
    padding: 10px 20px;
    border-radius: 0.3em;
}

.no_orders{
    border: 1px solid var(--primary-color);
}

.confirms{
    background-color: var(--primary-color);
    color: var(--text-color);
}

@media (max-width: 720px) {
    .heading {
        font-size: x-large;
    }
    #details {
        font-size: larger;
    }
    .moneys {
        font-size: 0.8rem;
        padding: 5px;
    }
    .cancels,
    .order {
        font-size: small;
        padding: 5px 10px;
    }
}
